body{
    margin:0px;
    padding:0px;
}

canvas{
    text-align:center;
}

#playersOnline{
    position:absolute;
    z-index: 1;
    margin:0;
}

#percentLoaded{
    position:absolute;
    z-index: 1;
    margin:0;
    left:50%;
    top:50%;
}

table{
    background-color:rgba(0,0,0,0.5);
}

td{
    font-size:small;
    color:white;
}